/* #######################################################################

   --- this file is loading by module '****' - ( function ***_init() ) 
   --- get the fix style for theme of admin and panels

   ####################################################################### */
/* panels ipe (in place editing?) fix: */
/* line 12, ../sass/admin-panels.scss */
.dir-rtl div.panels-ipe-handlebar-wrapper li a span,
.dir-rtl div.panels-ipe-newblock a span {
  text-align: right;
}

/* line 15, ../sass/admin-panels.scss */
.dir-rtl div.panels-ipe-newblock {
  right: auto;
  left: 10px;
  margin-right: -30px;
  margin-left: auto;
}

/* mini panels preview */
/* line 24, ../sass/admin-panels.scss */
.page-admin-structure-mini-panels-list #panels-preview {
  text-align: center;
}
/* line 26, ../sass/admin-panels.scss */
.page-admin-structure-mini-panels-list #panels-preview .pane-ih-ui-printed-edition-image {
  margin: 0 auto;
}
/* line 29, ../sass/admin-panels.scss */
.page-admin-structure-mini-panels-list #panels-preview .panel-pane {
  margin-bottom: 20px;
}
/* line 33, ../sass/admin-panels.scss */
.page-admin-structure-mini-panels-list .region-content {
  padding-bottom: 20px;
}

/* line 37, ../sass/admin-panels.scss */
.page-banners .region-content {
  padding-bottom: 20px;
}

/* add content */
/* line 43, ../sass/admin-panels.scss */
.dir-rtl div.ctools-modal-content {
  text-align: right;
}
/* line 45, ../sass/admin-panels.scss */
.dir-rtl div.ctools-modal-content a.close {
  float: left;
}
/* line 48, ../sass/admin-panels.scss */
.dir-rtl div.ctools-modal-content label.hidden-options {
  background: transparent url(../images/panels/arrow-active-rtl.png) no-repeat left;
  padding-right: 0;
  padding-left: 12px;
}
/* line 53, ../sass/admin-panels.scss */
.dir-rtl div.ctools-modal-content label.expanded-options {
  background-position: left center;
  padding-right: 0;
  padding-left: 16px;
}
/* line 59, ../sass/admin-panels.scss */
.dir-rtl .panels-add-content-modal {
  padding-right: 175px;
  padding-left: 0;
  background: url(../images/panels/bg-content-modal-rtl.png) right center repeat-y;
}
/* line 64, ../sass/admin-panels.scss */
.dir-rtl .panels-add-content-modal .panels-modal-add-category {
  padding-right: .5em;
  padding-left: 0;
  margin-right: -2px;
  margin-left: 0;
}
/* line 69, ../sass/admin-panels.scss */
.dir-rtl .panels-add-content-modal .panels-modal-add-category.active {
  background: url(../images/panels/arrow-active-rtl.png) center left no-repeat white;
  border-left: none;
}
/* line 75, ../sass/admin-panels.scss */
.dir-rtl .panels-section-column {
  float: right;
}
/* line 77, ../sass/admin-panels.scss */
.dir-rtl .panels-section-column .content-type-button {
  text-align: right;
}
/* line 79, ../sass/admin-panels.scss */
.dir-rtl .panels-section-column .content-type-button div {
  left: auto;
  right: 2px;
  float: right;
  padding-right: 3px;
  padding-left: 0;
}
/* line 86, ../sass/admin-panels.scss */
.dir-rtl .panels-section-column .content-type-button img {
  float: right;
}
/* line 91, ../sass/admin-panels.scss */
.dir-rtl .panels-section-column-categories {
  float: right;
  margin-right: -173px;
  margin-left: 0;
}
/* line 97, ../sass/admin-panels.scss */
.dir-rtl .option-text-aligner .form-item {
  float: right;
  padding-right: 0;
}
/* line 101, ../sass/admin-panels.scss */
.dir-rtl .option-text-aligner .form-item .label {
  margin-right: 1em;
}
