/* #############################################
 * ##### Socrates - drupal theming. #####
 * #############################################
 *  
 * Socrates theme main stylesheet.
 *
 *  Index
 *  ----------- 
 *  1. Imports
 *
 *  2. Space: Layout
 *
 *  3. Space: Header / footer
 *
 *  4. Elements
 *
 *  5. Blocks
 *
 */
/*-----------------------------------------------
                   Imports
-----------------------------------------------*/
/*-----------------------------------------------
             Grid & Layout settings
-----------------------------------------------*/
/*-----------------------------------------------
                   Typography
-----------------------------------------------*/
@font-face {
  font-family: 'OpenIdeal';
  src: url("../fonts/OpenIdeal/OpenIdeal.eot");
  src: url("../fonts/OpenIdeal/OpenIdeal.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenIdeal/OpenIdeal.woff") format("woff"), url("../fonts/OpenIdeal/OpenIdeal.ttf") format("truetype"), url("../fonts/OpenIdeal/OpenIdeal.svg#OpenIdeal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*-----------------------------------------------
                   Colors
-----------------------------------------------*/
/*-----------------------------------------------
                       END
-----------------------------------------------*/
/*-----------------------------------------------
                    Mixins
-----------------------------------------------*/
/* --------------------------------------------- mixin-pane-title ------------------------------------------- */
/* ---------------------------------------------- mixin-font-icon ------------------------------------------- */
/* --------------------------------------------- mixin-image-label ------------------------------------------ */
/* -------------------------------------------- mixin-css-triangle ------------------------------------------ */
/*-----------------------------------------------
                     Elements
-----------------------------------------------*/
/* line 5, ../sass/partials/block-elements/_elements.scss */
a {
  text-decoration: none;
}
/* line 7, ../sass/partials/block-elements/_elements.scss */
a:hover {
  text-decoration: none;
}

/* line 10, ../sass/partials/block-elements/_elements.scss */
iframe {
  width: 100%;
}

/* line 14, ../sass/partials/block-elements/_elements.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 19, ../sass/partials/block-elements/_elements.scss */
.glyphicon:before {
  margin: 0px 5px;
  position: relative;
  top: 2px;
}

/* line 30, ../sass/partials/_mixins.scss */
.glyphicon-th-list:before {
  font-family: "OpenIdeal";
  content: "\e604";
  margin-right: 7px;
}

/* line 30, ../sass/partials/_mixins.scss */
.glyphicon-calendar:before {
  font-family: "OpenIdeal";
  content: "\e607";
  margin-right: 7px;
  font-size: 16px;
}

/* line 30, ../sass/partials/_mixins.scss */
.glyphicon-map-marker:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 24px;
}
/* line 35, ../sass/partials/block-elements/_elements.scss */
.glyphicon-map-marker:before {
  top: 5px;
  line-height: 0;
}

/* line 38, ../sass/partials/block-elements/_elements.scss */
.caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  padding: 7px;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  color: #fff;
  background-color: #2b2b2b;
  background-color: rgba(43, 43, 43, 0.8);
  box-sizing: border-box;
}
/* line 59, ../sass/partials/_mixins.scss */
.caption a {
  color: #fff;
}
/* line 60, ../sass/partials/_mixins.scss */
.caption:empty, .caption.empty {
  padding: 0;
}

/* line 40, ../sass/partials/block-elements/_elements.scss */
.mouseover {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  padding: 7px;
  font-size: 15px;
  font-weight: lighter;
  width: 100%;
  color: #fff;
  background-color: #2b2b2b;
  background-color: rgba(43, 43, 43, 0.8);
  box-sizing: border-box;
}
/* line 59, ../sass/partials/_mixins.scss */
.mouseover a {
  color: #fff;
}
/* line 60, ../sass/partials/_mixins.scss */
.mouseover:empty, .mouseover.empty {
  padding: 0;
}

/* line 43, ../sass/partials/block-elements/_elements.scss */
.page-header {
  line-height: 1;
  border: 0;
  margin: -5px 0px 20px 0;
}

/* line 49, ../sass/partials/block-elements/_elements.scss */
.pagination {
  margin-top: 45px;
}

/* -------------------------------- general: row.block-footer-openideal ----------------------------------- */
/* line 56, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row, .view-challenges-list .row,
.row.row-bottom-openideal {
  clear: both;
  position: relative;
  z-index: 2;
  background-color: black;
  padding-bottom: 3px;
  font-size: 13px;
  color: white;
}
/* line 64, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row a, .view-challenges-list .row a,
.row.row-bottom-openideal a {
  color: white;
}
/* line 66, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .author .picture, .view-challenges-list .row .author .picture,
.row.row-bottom-openideal .author .picture {
  width: 36px;
  height: 37px;
  margin: 5px 7px 0 7px;
  float: left;
}
/* line 72, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .author .name, .view-challenges-list .row .author .name,
.row.row-bottom-openideal .author .name {
  color: #028cbb;
  font-weight: bold;
  margin-top: 7px;
}
/* line 76, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .author .name a, .view-challenges-list .row .author .name a,
.row.row-bottom-openideal .author .name a {
  color: #028cbb;
}
/* line 79, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .moderator, .view-challenges-list .row .moderator,
.row.row-bottom-openideal .moderator {
  margin-top: 12px;
}
/* line 80, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .dates, .view-challenges-list .row .dates,
.row.row-bottom-openideal .dates {
  margin-top: 12px;
}
/* line 81, ../sass/partials/block-elements/_elements.scss */
.pane-views-default-challenge-block .row .count, .view-challenges-list .row .count,
.row.row-bottom-openideal .count {
  margin-top: 15px;
}

/*-----------------------------------------------
                      Blocks
-----------------------------------------------*/
/*-----------------------------------------------
                   Space: Layout
-----------------------------------------------*/
/*-----------------------------------------------
                     Layouts
-----------------------------------------------*/
/* line 6, ../sass/partials/pages-spaces/_space-layout.scss */
body {
  border: 2px solid #e4e4e4;
  width: 93%;
  margin: 0 auto;
  position: static;
}
/* line 13, ../sass/partials/pages-spaces/_space-layout.scss */
body .logo img {
  height: 35px;
}
/* line 17, ../sass/partials/pages-spaces/_space-layout.scss */
body header#navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}
/* line 26, ../sass/partials/pages-spaces/_space-layout.scss */
body header#navbar > .container,
body .main-container.container,
body .footer .region-footer {
  max-width: 82.5%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* line 33, ../sass/partials/pages-spaces/_space-layout.scss */
body .main-container.container {
  clear: both;
  margin: 40px auto;
}
/* line 38, ../sass/partials/pages-spaces/_space-layout.scss */
body .footer {
  margin: 0;
  padding: 10px;
  width: 100%;
}
/* line 42, ../sass/partials/pages-spaces/_space-layout.scss */
body .footer.navbar.container {
  max-width: none;
}
/* line 45, ../sass/partials/pages-spaces/_space-layout.scss */
body .region-page-bottom {
  position: absolute;
  left: 50%;
  margin-left: -50%;
}

/* line 53, ../sass/partials/pages-spaces/_space-layout.scss */
#panel-bootstrap-region-content_views {
  padding-right: 45px;
}

/* line 57, ../sass/partials/pages-spaces/_space-layout.scss */
#panel-bootstrap-region-sidebar {
  padding-left: 0;
}

/* line 61, ../sass/partials/pages-spaces/_space-layout.scss */
.panel-bootstrap .panel-separator {
  margin: 0;
}

/* line 65, ../sass/partials/pages-spaces/_space-layout.scss */
body.panels-ipe .panel-pane {
  margin-bottom: 2.7em;
}

/* line 69, ../sass/partials/pages-spaces/_space-layout.scss */
.panel-pane {
  margin-bottom: 2.7em;
}

/*-----------------------------------------------
               Space: Header / footer
-----------------------------------------------*/
/*-----------------------------------------------
                   Header / footer
-----------------------------------------------*/
/*-----------------------------------------------
                   Elements
-----------------------------------------------*/
/*-----------------------------------------------
                     Blocks
-----------------------------------------------*/
/*-----------------------------------------------
                      Pages
-----------------------------------------------*/
/*-----------------------------------------------
                   Front - page
-----------------------------------------------*/
/* ------------------------------------ pane-views-default-challenge-block ---------------------------------- */
/* line 9, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .carousel-indicators {
  position: absolute;
  top: 15px;
  left: 45px;
  bottom: auto;
}
/* line 14, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .carousel-indicators li {
  border-radius: 0;
  border: 0;
  background-color: gray;
  width: 8px;
  height: 8px;
  margin: 0 -1px 0 0;
}
/* line 21, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .carousel-indicators li.active {
  width: 8px;
  height: 8px;
  margin: 0 -1px 0 0;
  background-color: #028cbb;
}
/* line 29, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .views-field-field-challenge-image img {
  width: 100%;
}
/* line 30, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .text {
  padding: 0px 15px;
  height: 100%;
  width: 41%;
  padding: 22px 23px;
  position: absolute;
  color: white;
}
/* line 37, ../sass/partials/pages-spaces/_front-page.scss */
h2 .pane-views-default-challenge-block .text, .pane-views-default-challenge-block .text h5 {
  color: #d5d5d5;
}
/* line 38, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .text .title {
  font-size: 29px;
  margin-bottom: 15px;
}
/* line 39, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-default-challenge-block .text .summary {
  line-height: 22px;
}

/* --------------------------------- pane-views-challenges-featured-front-block ----------------------------- */
/* line 46, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .pane-title {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 8px;
  margin-bottom: 13px;
  font-size: 30px;
  background-color: transparent;
  color: black;
}
/* line 49, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row {
  margin: 0px -6px;
}
/* line 51, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row > .col {
  padding-right: 6px;
  padding-left: 6px;
}
/* line 55, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row > .col:hover .caption {
  display: none;
}
/* line 56, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row > .col:hover .mouseover {
  display: block;
}
/* line 59, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .views-field-field-challenge-image img {
  width: 100%;
}
/* line 60, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .caption {
  width: auto;
  margin: 0 3%;
}
/* line 61, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .mouseover {
  display: none;
  margin: 0px 3%;
  padding: 0px 9px;
  width: auto;
  top: 0;
}
/* line 67, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .mouseover .content {
  max-height: 85%;
  overflow: hidden;
}
/* line 70, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .mouseover .content .body {
  font-size: 14px;
  line-height: 20px;
}
/* line 72, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .mouseover .read-more {
  position: absolute;
  bottom: 9px;
  right: 14px;
  font-size: 13px;
}
/* line 77, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-challenges-featured-front-block .row .mouseover .read-more a {
  color: #028cbb;
}

/* ----------------------------------- pane-views-highlighted-content-block --------------------------------- */
/* line 86, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
}
/* line 89, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content {
  background: #f3f3f3;
  padding: 16px 9px;
  margin-bottom: 10px;
}
/* line 93, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-row {
  padding-left: 30px;
}
/* line 96, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-row + .views-row {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #d5d5d5;
}
/* line 101, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-field-type {
  margin: -3px 0 0 -28px;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-views-highlighted-content-block .pane-content .views-field-type:before {
  font-family: "OpenIdeal";
  content: "\e606";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 104, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-field-type .field-content {
  display: none;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-views-highlighted-content-block .pane-content .views-field-type.Challenge:before {
  font-family: "OpenIdeal";
  content: "\e609";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-views-highlighted-content-block .pane-content .views-field-type.Iead:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 110, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-field-title {
  font-weight: bold;
  float: left;
  margin-right: 5px;
  color: black;
}
/* line 115, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-field-title a {
  color: black;
}
/* line 117, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-highlighted-content-block .pane-content .views-field-body {
  line-height: 21px;
}

/* --------------------------------- pane-panels-mini.pane-latest-and-greatest ------------------------------ */
/* line 126, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest #mini-panel-latest_and_greatest > .row {
  margin-right: -10px;
  margin-left: -10px;
}
/* line 129, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest #mini-panel-latest_and_greatest > .row .column {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 134, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-title {
  border-bottom: 1px solid #d5d5d5;
  padding: 0 0 9px 0;
  margin: 7px 0px 0px 0px;
  font-size: 19px;
}
/* line 140, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-title:before {
  margin-right: 7px;
}
/* line 142, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest > .pane-title {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 8px;
  margin-bottom: 13px;
  font-size: 30px;
  background-color: transparent;
  color: black;
  margin-bottom: 0;
}
/* line 147, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-content {
  margin-top: 10px;
}
/* line 149, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-content .views-row {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  color: black;
}
/* line 155, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-content .views-row a {
  color: black;
}
/* line 156, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-content .views-row .user-image {
  width: 36px;
  float: left;
  margin: 1px 10px 0px 0;
}
/* line 162, ../sass/partials/pages-spaces/_front-page.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-content .views-row + .views-row {
  margin-top: 20px;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-views-activity-block-1 .pane-title:before {
  font-family: "OpenIdeal";
  content: "\e602";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-views-activity-block-2 .pane-title:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-panels-mini.pane-latest-and-greatest .pane-views-activity-block-3 .pane-title:before {
  font-family: "OpenIdeal";
  content: "\e606";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}

/* ------------------------------------------ pane-comment-recent ------------------------------------------- */
/* line 180, ../sass/partials/pages-spaces/_front-page.scss */
.pane-comment-recent .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
}

/* ---------------------------------------------- pane-custom ----------------------------------------------- */
/* line 188, ../sass/partials/pages-spaces/_front-page.scss */
.pane-custom .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
}

/* --------------------------------- pane-views-head-to-head-ideas-block  ----------------------------------- */
/* line 196, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-title {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 8px;
  margin-bottom: 13px;
  font-size: 30px;
  background-color: transparent;
  color: black;
}
/* line 199, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content {
  position: relative;
}
/* line 201, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-header {
  margin-bottom: 15px;
}
/* line 204, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content {
  border-top: 5px solid black;
}
/* line 206, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .row {
  margin-right: -6px;
  margin-left: -6px;
}
/* line 209, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .row .col {
  padding: 6px;
}
/* line 211, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail {
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 0;
  border: 0;
}
/* line 216, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field {
  margin-bottom: 15px;
}
/* line 220, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-field-vote .alternate-votes-display {
  border: 0;
  height: auto;
  float: left;
  border-radius: 100px;
  background-color: red;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-field-vote .alternate-votes-display:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 228, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-field-vote .up-active {
  background: #43ac6a;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-field-vote .up-active:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 24px;
  color: #028cbb;
}
/* line 233, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-title {
  font-size: 20px;
  line-height: 20px;
  clear: both;
}
/* line 237, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-title a {
  color: black;
}
/* line 242, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-body {
  font-size: 13px;
  line-height: 15px;
}
/* line 246, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-picture {
  float: left;
  margin: 4px 10px 0px 4px;
  width: 35px;
}
/* line 251, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-name {
  background-color: #dadada;
  padding: 10px 10px 10px 51px;
  min-height: 43px;
  font-size: 14px;
}
/* line 256, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-content .col .thumbnail .views-field-name a {
  color: #43ac6a;
}
/* line 260, ../sass/partials/pages-spaces/_front-page.scss */
.pane-views-head-to-head-ideas-block .pane-content .view-footer {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  width: 10px;
  margin: 0 auto;
  border-radius: 100px;
  color: #43ac6a;
  font-size: 25px;
  background-color: white;
  width: 47px;
  padding: 3px 5px 7px 7px;
  text-align: center;
}

/*-----------------------------------------------
              Challenge Inner - page
-----------------------------------------------*/
/* ------------------------------------------------- layout -------------------------------------------------- */
/* line 9, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
body.node-type-challenge .panel-panel.left.col-lg-9 {
  width: 63%;
}
/* line 12, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
body.node-type-challenge .panel-panel.right.col-lg-3 {
  width: 37%;
  padding-left: 32px;
}

/* ------------------------------- pane-ideal-challenge-challenge-add-idea-button --------------------------- */
/* line 21, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-add-idea-button .challenge-add-idea-button a.btn-success {
  display: inline-block;
  width: 100%;
  font-size: 27px;
  padding: 8px 0;
  border-radius: 0;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-challenge-challenge-add-idea-button .challenge-add-idea-button a.btn-success:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 28px;
}
/* line 28, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-add-idea-button .challenge-add-idea-button a.btn-success:before {
  top: 2px;
  position: relative;
  margin-right: 10px;
}

/* ----------------------------------- pane-ideal-challenge-challenge-data ---------------------------------- */
/* line 39, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
  padding: 14px 13px;
  font-size: 20px;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-challenge-challenge-data .pane-title:before {
  font-family: "OpenIdeal";
  content: "\e607";
  margin-right: 7px;
  font-size: 19px;
}
/* line 42, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-title:before {
  margin-right: 13px;
}
/* line 46, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content {
  background-color: #028cbb;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 0 10px 10px 10px;
}
/* line 52, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content a {
  color: white;
}
/* line 53, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates.row {
  margin-right: 0;
  margin-left: 0;
}
/* line 56, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates.row .col-xs-4 {
  padding: 0 5px;
}
/* line 60, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates .badge {
  background-color: #016ca2;
  color: white;
  width: 100%;
  border-radius: 30px;
  padding: 7px 0 12px 0;
}
/* line 66, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates .badge .challenge-date-value {
  margin: 0;
  font-weight: bold;
  font-size: 29px;
}
/* line 71, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates .badge .challenge-date-label {
  font-size: 15px;
}
/* line 75, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-challenge-challenge-data .pane-content #challenge-dates-start-end {
  margin: 9px 7px 0 7px;
}

/* -------------------------------------- pane-ideal-blocks-idea-*-stats ------------------------------------ */
/* line 86, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-title,
.pane-ideal-blocks-challenge-stats .pane-title,
.pane-ideal-blocks-ideal-key-stats .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
  padding: 11px 12px;
  font-size: 20px;
}
/* line 91, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content,
.pane-ideal-blocks-challenge-stats .pane-content,
.pane-ideal-blocks-ideal-key-stats .pane-content {
  overflow: hidden;
}
/* line 94, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content .row.top .count,
.pane-ideal-blocks-challenge-stats .pane-content .row.top .count,
.pane-ideal-blocks-ideal-key-stats .pane-content .row.top .count {
  text-align: center;
  color: #43ac6a;
  font-size: 55px;
  font-weight: bold;
  margin: 9px 0;
}
/* line 100, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content .row.top .count:before,
.pane-ideal-blocks-challenge-stats .pane-content .row.top .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content .row.top .count:before {
  margin-right: 11px;
  font-weight: normal;
}
/* line 104, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content .row.top .count .name,
.pane-ideal-blocks-challenge-stats .pane-content .row.top .count .name,
.pane-ideal-blocks-ideal-key-stats .pane-content .row.top .count .name {
  display: inline;
  margin-left: 4px;
  font-size: 29px;
  font-weight: normal;
  color: black;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content .row.top.ideas .count:before,
.pane-ideal-blocks-challenge-stats .pane-content .row.top.ideas .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content .row.top.ideas .count:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 55px;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content .row.top.challenges .count:before,
.pane-ideal-blocks-challenge-stats .pane-content .row.top.challenges .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content .row.top.challenges .count:before {
  font-family: "OpenIdeal";
  content: "\e609";
  margin-right: 7px;
  font-size: 55px;
}
/* line 119, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts,
.pane-ideal-blocks-challenge-stats .pane-content table.counts,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts {
  width: 100%;
  margin-top: 7px;
  border-top: 1px solid #d5d5d5;
}
/* line 123, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .col,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .col,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .col {
  padding-top: 10px;
  padding-bottom: 17px;
}
/* line 127, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .col + .col,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .col + .col,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .col + .col {
  border: solid #d5d5d5;
  border-width: 0 0 0 1px;
  padding-left: 15px;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .col + .col .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .col + .col .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .col + .col .count:before {
  font-family: "OpenIdeal";
  content: "\e60f";
  margin-right: 7px;
  font-size: 22px;
  color: #43ac6a;
}
/* line 133, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .count,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .count,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .count {
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
/* line 138, ../sass/partials/pages-spaces/_challenge-inner-page.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .count:before {
  margin-right: 4px;
  font-weight: normal;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .ideas .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .ideas .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .ideas .count:before {
  font-family: "OpenIdeal";
  content: "\e60c";
  margin-right: 7px;
  font-size: 22px;
  color: #43ac6a;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .users .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .users .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .users .count:before {
  font-family: "OpenIdeal";
  content: "\e602";
  margin-right: 7px;
  font-size: 22px;
  color: #43ac6a;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .votes .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .votes .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .votes .count:before {
  font-family: "OpenIdeal";
  content: "\e608";
  margin-right: 7px;
  font-size: 22px;
  color: #43ac6a;
}
/* line 30, ../sass/partials/_mixins.scss */
.pane-ideal-blocks-idea-stats .pane-content table.counts .comments .count:before,
.pane-ideal-blocks-challenge-stats .pane-content table.counts .comments .count:before,
.pane-ideal-blocks-ideal-key-stats .pane-content table.counts .comments .count:before {
  font-family: "OpenIdeal";
  content: "\e608";
  margin-right: 7px;
  font-size: 22px;
  color: #43ac6a;
}

/*-----------------------------------------------
               Challenges list - page
-----------------------------------------------*/
/* ------------------------------------------- view-challenges-list ----------------------------------------- */
/* line 9, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-row {
  background: #f3f3f3;
  overflow: hidden;
  padding: 15px 15px 0px 18px;
  color: black;
}
/* line 14, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-row .row {
  margin-right: -17px;
  margin-left: -17px;
}
/* line 17, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-row .row:before {
  top: -12px;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  display: block;
  right: 45%;
  border: 6px solid transparent;
  border-bottom: 6px solid black;
}
/* line 24, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-row + .views-row {
  margin-top: 38px;
}
/* line 27, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-field-field-challenge-image {
  margin: 3px 20px 15px 0px;
}
/* line 31, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-field-title h3 {
  margin: 0;
}
/* line 32, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-field-title a {
  color: black;
}
/* line 34, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-field-body {
  line-height: 21px;
  margin-bottom: 15px;
}
/* line 37, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.view-challenges-list .views-field-body p {
  margin: 0;
}

/* ----------------------------------------- pane-views-activity-block -------------------------------------- */
/* line 45, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-title {
  background-color: #028cbb;
  color: white;
  padding: 8px 15px;
  font-size: 26px;
  margin: 0;
}
/* line 48, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-content {
  margin-top: 15px;
}
/* line 50, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-content .views-row {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 15px;
  color: black;
}
/* line 56, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-content .views-row a {
  color: black;
}
/* line 57, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-content .views-row .user-image {
  width: 36px;
  float: left;
  margin: 1px 10px 0 0;
}
/* line 63, ../sass/partials/pages-spaces/_challenge-list-page.scss */
.pane-views-activity-block .pane-content .views-row + .views-row {
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid #d5d5d5;
}

/*-----------------------------------------------
                   Idea list - page
-----------------------------------------------*/
/* line 7, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas .block-title {
  display: none;
}
/* line 10, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas ul.quicktabs-tabs {
  border-bottom: 1px solid #d5d5d5;
  padding: 0 0 5px 0;
  margin-bottom: 35px;
}
/* line 14, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas ul.quicktabs-tabs li {
  margin: 0 40px 0 0;
  padding: 0;
}
/* line 17, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas ul.quicktabs-tabs li a {
  font-weight: normal;
  font-size: 16px;
  color: black;
  display: inline-block;
  padding-bottom: 4px;
}
/* line 25, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas ul.quicktabs-tabs li:hover a {
  border-bottom: 4px solid #d5d5d5;
}
/* line 32, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas .view-content .views-row {
  background: red;
}
/* line 35, ../sass/partials/pages-spaces/_idea-list-page.scss */
#block-quicktabs-all-ideas .view-content .views-row + .views-row {
  margin-top: 38px;
}

/*-----------------------------------------------
                       END
-----------------------------------------------*/
