@charset "UTF-8";
// @source - [@Stephn-R](https://github.com/sass/sass/issues/1395#issuecomment-57483844)
// @description converts 1 or more characters into a unicode
// @markup {scss}
// unicode("e655"); // "\e655"
@function unicode($str){
 @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"")
};

/*-----------------------------------------------
                   Typography
-----------------------------------------------*/

@font-face {
  font-family: 'OpenIdeal';
  src:url('../fonts/OpenIdeal/OpenIdeal.eot');
  src:url('../fonts/OpenIdeal/OpenIdeal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenIdeal/OpenIdeal.woff') format('woff'),
    url('../fonts/OpenIdeal/OpenIdeal.ttf') format('truetype'),
    url('../fonts/OpenIdeal/OpenIdeal.svg#OpenIdeal') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*-----------------------------------------------
                   Sprites
-----------------------------------------------*/

$icons-smart-layout:smart;
@import "icons-smart/*.png";

//fix url image-sprite
.icons-smart-sprite{
  background: url('../images/icons-smart-sc6718674dc.png') no-repeat;
}

/*-----------------------------------------------
                   Font icon
-----------------------------------------------*/

$comment: unicode('e608');

$eye: unicode('e601');

$list: unicode('e604');

$calendar: unicode('e607');

$light: unicode('e619');

$vote: unicode('e60f');

$vote-dislike: unicode('e60e');

$idea: unicode('e60c');

$user: unicode('e602');

$challenge: unicode('e609');

$discussions: unicode('e606');

$share: unicode('e60d');

$arrow-right: unicode('e60a');

$arrow-left: unicode('e60b');

$attachments: unicode('e610');


$fb-like: unicode('e61a');

$google: unicode('e61b');

$linkedin: unicode('e61c');

$twitter: unicode('e61d');

$facebook-footer: unicode('e611');

$twitter-footer: unicode('e612');

$google-footer: unicode('e613');

$linkedin-footer: unicode('e614');

/*-----------------------------------------------
                   Colors
-----------------------------------------------*/

$light-border: rgb(213, 213, 213);
$light-gray: #f3f3f3;

$text-gray: #413f43;
$text-white: rgb(213, 213, 213);

$green: #43ac6a;
$navy-blue: #016ca2;
$red: #d70010;
$blue: #028cbb;
$black: black;

/*-----------------------------------------------
                       END
-----------------------------------------------*/
