
/* 

-- added in 'admin' --

admin/config/content/wysiwyg/profile/full_html/edit
admin/config/content/wysiwyg/profile/filtered_html/edit

*/  

.cke_editor,
.cke_show_borders{ 
  background: #fff;
  font: 13px/1.333em Arial, Helvetica, sans-serif;
  color: #333;
  direction: rtl;
}
.cke_editor,
.cke_show_borders,
.field-type-text-with-summary,
.field-type-text-long{   
  p, div {
    margin: 0 0 14px;
  }
  h1 
  {
    color: #333;
    font-size: 20px;
    margin: 10px 0 0;
  }
}
  .h2_article {

      margin-bottom: 5px;
      font-family: Arial, Helvetica, sans-serif;
      color: #464646;
      font-weight: bold;
      font-size: 16px;
  }
  .h3_article {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      font-weight: bold;
      font-size: 18px;

  }
  .h4_article{
    font-size: 12px;  
  }
  p.default{
    font-size: 14px;   
  }
  div.leads{
      float: right;
      color: #c9000a;
      max-width: 200px;
      margin: 0px 0 17px 15px;
      line-height: 27px;
      font-size: 24px;
      font-weight: bold;
  }
  div.leads span { margin-left: 13px; }
  div.leads+div{ margin-top: 15px; }
