
/*-----------------------------------------------
              Challenge Inner - page
-----------------------------------------------*/

/* ------------------------------------------------- layout -------------------------------------------------- */

body.node-type-challenge, body.node-type-idea {
	#panel-bootstrap-column-main {
		
		padding-right: 58px;
		margin-left: 15px;
		width: 64.6%;
		.region {  }

		.pane-ideal-challenge-challenge-add-idea-button {
			padding: 0;
			width: 140px;
			a.btn.btn-success{
				font-size: 15px;
				font-weight: bold;
				padding: 7px 0 11px 0px;
				line-height: 15px;
				&:before {
					top: 6px;
					font-weight: normal;
					font-size: 24px;
				}
			}
		} 

	}
	#panel-bootstrap-region-center {
		margin-bottom: 20px;
		background-color: $light-gray;
	}
	#panel-bootstrap-region-content_bottom {
		padding: 0;
	}

	.panel-pane {
		margin-bottom: 17px;
	}
	.pane-node-title {
		h3 {
			margin: 12px 0 0 0;
			font-size: 30px;
		}
	}
	.pane-user-picture {
		float: left;
		margin: 5px 10px 5px 5px;
		width: 35px;
	}
	.pane-node-author {
		background: rgb(224, 224, 224);
		height: 45px;
		margin-bottom: 22px;
		padding-left: 10px;
		.username {
			display: inline-block;
			margin-top: 12px;
			font-weight: bold;
			font-size: 13px;
		}
	}
	.pane-node-field-moderator {
		float: right;
		margin-top: -52px;
		margin-right: 100px;
		font-size: 13px;
		.field-item { @include mixin-font-icon('\e604'); }
	}
	.pane-node-field-share {
		float: right;
		margin-top: -57px;
		margin-right: 13px;
		color: $blue;
		.pane-title { 
			font-size: 13px;
			font-weight: bold;
			margin: 0;
			@include mixin-font-icon('\e60d',19px);
			&:before {
				font-weight: normal;
				position: relative;
				top: 3px;
			}
		}
		.pane-content { display:none;	}
	}
	.pane-node-body {
		line-height: 22px;
	}
	.pane-node-field-attachments {
		.pane-title {
			font-size: 20px;
			margin-bottom: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid;
		}
	}
	.pane-node-comment-form,.pane-node-comments {
		clear: both; 
	}
	.pane-node-comments {
		.user-picture {
			float: left;
			margin: 0 10px 10px 0;
			width: 36px;
			height: 36px;
			border: 1px solid;
		}
		.permalink,.submitted, .field-name-field-vote { display:none; }
	}
}

/* ------------------------------- pane-ideal-challenge-challenge-add-idea-button --------------------------- */



.pane-custom,
.pane-ideal-challenge-challenge-add-idea-button {
	.add-idea {
		color: #fff;
		background-color: #43ac6a;
		border-color: #3c9a5f;
		text-align: center;
		&:hover {
			background-color: #388f58;
			border-color: #2b6e44;
		}
	}
	.challenge-add-idea-button a.btn-success,.add-idea {
		display: inline-block;
		width: 100%;
		font-size: 27px;
		padding: 8px 0;
		border-radius: 0;
		@include mixin-font-icon('\e60c',28px);
		&:before { 
			top: 2px;
			position: relative;			
			margin-right: 10px; 
		}
	}
}

/* ----------------------------------- pane-ideal-challenge-challenge-data ---------------------------------- */

.pane-ideal-challenge-challenge-data {
	.pane-title {
		@include mixin-pane-title(block);
		@include mixin-font-icon('\e607',19px);
		&:before { margin-right: 13px; }
		padding: 14px 13px;
		font-size: 20px;
	}
	.pane-content {
		background-color: $blue;
		color: white;
		display: inline-block;
		width: 100%;
		padding: 0 10px 10px 10px;
		a { color: white; }
		#challenge-dates.row {
			margin-right: 0;
			margin-left: 0;
			.col-xs-4 {
				padding: 0 5px;
			}
		}
		#challenge-dates .badge { 
			background-color: $navy-blue; 
			color: white;
			width: 100%;  
			border-radius: 30px;
			padding: 7px 0 12px 0;
			.challenge-date-value {
				margin: 0;
				font-weight: bold;
				font-size: 29px;
			}
			.challenge-date-label {
				font-size: 15px;
			}
		}
		#challenge-dates-start-end {
			margin: 9px 7px 0 7px;
		}
	}
}

.pane-views-ideas-in-challenge-block {
	.views-field-field-idea-image {
		background: red;
		float: left;
		width: 40px;
		margin: 0 10px 10px 0;
		img { visibility: hidden; }
	}
	.views-field-body {
		clear: both;
	}
	.views-field-created {
		float: left;
		margin-right: 5px;
	}
	.views-field-name {
		float: left;
	}
	.views-field-field-vote {
		.clear-block { display: none; }
		.vote-current-score {
			padding: 0;
			line-height: 1;
			font-size: 0;
			strong {
				font-size: 13px; 	
				@include mixin-font-icon('\e60f',13px,$green);
			}
		}
	}
}

/* -------------------------------------- pane-ideal-blocks-idea-*-stats ------------------------------------ */

.pane-ideal-blocks-idea-stats,
.pane-ideal-blocks-challenge-stats,
.pane-ideal-blocks-ideal-key-stats {
	.pane-title {
		@include mixin-pane-title(block);
		padding: 11px 12px;
		font-size: 20px;
	}
	.pane-content {
		overflow: hidden;
		.row.top {
		 	.count{
				text-align: center;
				color: $green;
				font-size: 55px;
				font-weight: bold;
				margin: 9px 0;
				&:before { 
					margin-right: 11px;
					font-weight: normal;
				}
				.name {
					display: inline;
					margin-left: 4px;
					font-size: 29px;
					font-weight: normal;
					color: $black;
				}
			}
			&.ideas .count{
				@include mixin-font-icon('\e60c',55px);
			}
			&.challenges .count{
				@include mixin-font-icon('\e609',55px); 
			}
		}
		table.counts{
			width: 100%;
			margin-top: 7px;
			border-top: 1px solid $light-border;
			.col {
				padding-top: 10px;
				padding-bottom: 17px;
			}
			.col + .col {
				border: solid $light-border;
				border-width: 0 0 0 1px;
				padding-left: 15px;
				.count{	@include mixin-font-icon('\e60f',22px,$green); }
			}
			.count {
				font-size: 28px;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				&:before { 
					margin-right: 4px;
					font-weight: normal;
				}
			}
			.ideas .count{ @include mixin-font-icon('\e60c',22px,$green);	}
			.users .count{ @include mixin-font-icon('\e602',22px,$green);	}
			.votes .count{ @include mixin-font-icon('\e608',22px,$green); }
			.comments .count{ @include mixin-font-icon('\e608',22px,$green); }
		}
	}
}


