
/*-----------------------------------------------
              Challenge Inner - page
-----------------------------------------------*/

/* ------------------------------------------------- layout -------------------------------------------------- */

body.node-type-challenge {
	.panel-panel.left.col-lg-9 {
		width: $column-left;
	}
	.panel-panel.right.col-lg-3 {
		width: $sidebar-right;
		padding-left: 32px;
	}
}

/* ------------------------------- pane-ideal-challenge-challenge-add-idea-button --------------------------- */

.pane-ideal-challenge-challenge-add-idea-button {
	.challenge-add-idea-button a.btn-success {
		display: inline-block;
		width: 100%;
		font-size: 27px;
		padding: 8px 0;
		border-radius: 0;
		@include mixin-font-icon('\e60c',28px);
		&:before { 
			top: 2px;
			position: relative;			
			margin-right: 10px; 
		}
	}
}

/* ----------------------------------- pane-ideal-challenge-challenge-data ---------------------------------- */

.pane-ideal-challenge-challenge-data {
	.pane-title {
		@include mixin-pane-title(block);
		@include mixin-font-icon('\e607',19px);
		&:before { margin-right: 13px; }
		padding: 14px 13px;
		font-size: 20px;
	}
	.pane-content {
		background-color: $blue;
		color: white;
		display: inline-block;
		width: 100%;
		padding: 0 10px 10px 10px;
		a { color: white; }
		#challenge-dates.row {
			margin-right: 0;
			margin-left: 0;
			.col-xs-4 {
				padding: 0 5px;
			}
		}
		#challenge-dates .badge { 
			background-color: $navy-blue; 
			color: white;
			width: 100%;  
			border-radius: 30px;
			padding: 7px 0 12px 0;
			.challenge-date-value {
				margin: 0;
				font-weight: bold;
				font-size: 29px;
			}
			.challenge-date-label {
				font-size: 15px;
			}
		}
		#challenge-dates-start-end {
			margin: 9px 7px 0 7px;
		}
	}
}

/* -------------------------------------- pane-ideal-blocks-idea-*-stats ------------------------------------ */

.pane-ideal-blocks-idea-stats,
.pane-ideal-blocks-challenge-stats,
.pane-ideal-blocks-ideal-key-stats {
	.pane-title {
		@include mixin-pane-title(block);
		padding: 11px 12px;
		font-size: 20px;
	}
	.pane-content {
		overflow: hidden;
		.row.top {
		 	.count{
				text-align: center;
				color: $green;
				font-size: 55px;
				font-weight: bold;
				margin: 9px 0;
				&:before { 
					margin-right: 11px;
					font-weight: normal;
				}
				.name {
					display: inline;
					margin-left: 4px;
					font-size: 29px;
					font-weight: normal;
					color: $black;
				}
			}
			&.ideas .count{
				@include mixin-font-icon('\e60c',55px);
			}
			&.challenges .count{
				@include mixin-font-icon('\e609',55px); 
			}
		}
		table.counts{
			width: 100%;
			margin-top: 7px;
			border-top: 1px solid $light-border;
			.col {
				padding-top: 10px;
				padding-bottom: 17px;
			}
			.col + .col {
				border: solid $light-border;
				border-width: 0 0 0 1px;
				padding-left: 15px;
				.count{	@include mixin-font-icon('\e60f',22px,$green); }
			}
			.count {
				font-size: 28px;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				&:before { 
					margin-right: 4px;
					font-weight: normal;
				}
			}
			.ideas .count{ @include mixin-font-icon('\e60c',22px,$green);	}
			.users .count{ @include mixin-font-icon('\e602',22px,$green);	}
			.votes .count{ @include mixin-font-icon('\e608',22px,$green); }
			.comments .count{ @include mixin-font-icon('\e608',22px,$green); }
		}
	}
}


