
/*-----------------------------------------------
               Challenges list - page
-----------------------------------------------*/

/* ------------------------------------------- view-challenges-list ----------------------------------------- */

.view-challenges-list {
	.views-row {
		background: $light-gray;
		overflow: hidden;
		padding: 15px 15px 0px 18px;
		color: $black;
		.row {
			margin-right: -17px;
			margin-left: -17px;
			&:before { 
				top: -12px;
				position: absolute;
				@include mixin-css-triangle(top,6px,black);
			}
		}
	}
	.views-row + .views-row {
		margin-top: 38px;
	}
	.views-field-field-challenge-image {
		margin: 3px 20px 15px 0px;
	}
	.views-field-title {
		h3 { margin: 0; }
		a { color: $black; }
	}
	.views-field-body {
		line-height: 21px;
		margin-bottom: 15px;
		p { margin: 0; }
	}
}


/* ----------------------------------------- pane-views-activity-block -------------------------------------- */

.pane-views-activity-block {
	.pane-title {
		@include mixin-pane-title(block);
	}
	.pane-content {
		margin-top: 15px;
		.views-row {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 15px;
			color: $black;
			a { color: $black; }
			.user-image{
				width: 36px;
				float: left;
				margin: 1px 10px 0 0;
			}
		}
		.views-row+.views-row {
			padding-top: 12px;
			margin-top: 12px;
			border-top: 1px solid $light-border;
		}
	}
}


