
/*-----------------------------------------------
                   Front - page
-----------------------------------------------*/

body.front {
	#page-header {
		display: none;
	}
}


.pane-views-default-challenge-block {
	.carousel-indicators {
		position: absolute;
		top: 15px;
		left: 45px;
		bottom: auto;
		li {
			border-radius: 0;
			border: 0;
			background-color: gray;
			width: 8px;
			height: 8px;
			margin: 0 -1px 0 0;
			&.active {
				width: 8px;
				height: 8px;
				margin: 0 -1px 0 0;
				background-color: $blue;
			}
		}
	}
	.views-field-field-challenge-image {
		img { width: 100%; }
	}
	.text {
		padding: 0px 15px;
	  height: 100%;
		width: 41%;
		padding: 22px 23px;
    position: absolute;
    color: white;
		h2 &, h5 { color: $text-white; }
		.title {
			font-size: 29px;
			margin-bottom: 15px;
		}
		.summary {
			line-height: 22px;
		}
	}  
}

.pane-views-challenges-featured-front-block {
	.pane-title {
		@include mixin-pane-title(text);
	}

	.row > .col:hover {
		.caption {
			display: none;  
		}
		.mouseover {
			 display: block;  
		}
	}

	.row {
		margin: 0px -6px;
		> .col {
			padding-right: 6px;
			padding-left: 6px;
		}
		.views-field-field-challenge-image {
			img { width: 100%; }
		}
		.caption {
  		width: auto;
			margin: 0 3%;
		}
		.mouseover {
		  display: none;
			margin: 0px 3%;
			padding: 0px 9px;
			width: auto;
			top: 0;
			.content {
				max-height: 85%;
				overflow: hidden;
				.body {
					font-size: 14px;
					line-height: 20px;
				}
			}
			.read-more {
				position: absolute;
				bottom: 9px;
				right: 14px;
				font-size: 13px;
				a { color: $blue; }
			}
		}
	}
}


.pane-views-highlighted-content-block {
	.pane-title {
		@include mixin-pane-title(block);
	}
	.pane-content {
		background: $light-gray;
		padding: 16px 9px;
		.views-row {
			padding-left: 30px;
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $light-border;
		}
		.views-row.views-row-last {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
		.views-field-type {
			@include mixin-font-icon('\e609',24px,$blue); //e600 - e60c
			margin: -3px 0 0 -28px;
			.field-content {
				display: none;
			}
			&.Challenge { @include mixin-font-icon('\e609',24px,$blue); }
			&.News { @include mixin-font-icon('\e60c',24px,$blue); }
			&.Article { @include mixin-font-icon('\e600',24px,$blue); }
			//&.Iead { @include mixin-font-icon('\e609',24px,$blue); }
		}
		.views-field-title {
			color: black;
			font-weight: bold;
			float: left;
			margin-right: 5px;
			a { color: black; }
		}
		.views-field-body {
			line-height: 21px;
		}
	}
}

.pane-panels-mini.pane-latest-and-greatest {
	.pane-title { 
		border-bottom: 1px solid $light-border;
		padding: 0 0 9px 0;
		margin: 7px 0px 0px 0px;
		font-size: 19px;
  	&:before { margin-right: 7px; }
	}
	>.pane-title {
		@include mixin-pane-title(text);
		margin-bottom: 0;
	}
	#mini-panel-latest_and_greatest > .row {
		margin-right: -10px;
		margin-left: -10px;
		.column {
			padding-right: 10px;
			padding-left: 10px;
		}
	}
	.pane-user-new {
		.pane-title { 
			@include mixin-font-icon('\e602',24px,$blue);
		}
	}
	.pane-views-ideas-all-block-2{
		.pane-title {
			@include mixin-font-icon('\e60c',24px,$blue);
		}
	}
	.pane-comment-recent {
		.pane-title {
			background-color: transparent;
			color: black;
			@include mixin-font-icon('\e606',24px,$blue);
		}
	}

}

.pane-comment-recent {
	.pane-title {
		@include mixin-pane-title(block);
	}
}

.pane-custom {
	.pane-title {
		@include mixin-pane-title(block);
	}
}



