
/*-----------------------------------------------
                   Idea list - page
-----------------------------------------------*/

body.page-ideas {
	.page-header {
		display: none;	
	}
	#panel-bootstrap-region-center{
		width: 63.3%;
		margin-right: 3.3%;
	}
}

.pane-quicktabs-all-ideas {
	.pane-title {
		margin: 0 0 15px 0;
	}
	ul.quicktabs-tabs {
		border-bottom: 1px solid $light-border;
		padding: 0;
		height: 30px;
		margin-bottom: 35px;
		li {
			margin: 0 40px 0 0;
			padding: 0;
			a {
				font-weight: normal;
				font-size: 16px;
				color: black;
				display: inline-block;
				padding-bottom: 4px;
			}
			&:hover,&.active {
				 a {
					border-bottom: 4px solid $light-border;
				}
			}
		}
	}
}





/*-----------------------------------------------
               Challenges list - page
-----------------------------------------------*/

/* ------------------------------------------- view-challenges-list ----------------------------------------- */

.view-ideas-all {
	.views-row {
		background: $light-gray;
		overflow: hidden;
		padding: 15px 15px 0px 18px;
		color: $black;
		.row {
			margin-right: -17px;
			margin-left: -17px;
			&:before { 
				top: -12px;
				position: absolute;
				@include mixin-css-triangle(top,6px,black);
			}
		}
	}
	.views-row + .views-row {
		margin-top: 38px;
	}
	.views-field-field-idea-image {
		margin: 3px 20px 15px 0px; float: left;
	}
	.views-field-title {
		font-size: 26px;
		border-bottom: 1px solid #B8B8B8;
		margin-bottom: 10px;
		padding-bottom: 10px;
		margin-left: 240px;
		h3 { margin: 0; }
		a { color: $black; }
	}
	.views-field-body {
		line-height: 21px;
		margin-bottom: 15px;
		p { margin: 0; }
	}
}


/* ----------------------------------------- pane-views-activity-block -------------------------------------- */

.pane-views-activity-block {
	.pane-title {
		@include mixin-pane-title(block);
	}
	.pane-content {
		margin-top: 15px;
		.views-row {
			display: inline-block;
			width: 100%;
			font-size: 14px;
			line-height: 15px;
			color: $black;
			a { color: $black; }
			.user-image{
				width: 36px;
				float: left;
				margin: 1px 10px 0 0;
			}
		}
		.views-row+.views-row {
			padding-top: 12px;
			margin-top: 12px;
			border-top: 1px solid $light-border;
		}
	}
}


