
/*-----------------------------------------------
                   Header / footer
-----------------------------------------------*/


header#navbar {
	.navbar-collapse {
		padding: 0;
	}
	.pane-page-logo {
		display: table;
		height: 45px;
		margin-right: 10px;
		.pane-content {
			display: table-cell;
			vertical-align: middle;
			img { max-height: 40px; }
		}
	}
	.panel-pane {
		margin-bottom: 0;
		float: left;
	}
	.nav>li {
		float: left;
		a { color: white;  padding: 13px 15px; }
		a:hover, a:focus {
			text-decoration: none;
			background-color: #000;
		}
	}
	.pane-system-user-menu {
		float: right;
	}
	.pane-search-form {
		float: right;
		margin-left: 5px;

		input.form-text {
			height: 36px;
			padding: 0px 10px;
			width: 170px;
			margin-top: 4px;
		}
		.input-group-btn { display: none;	}
	}
}

footer.footer.navbar {
	.panel-pane {
		margin-bottom: 0;
		float: left;
	}
	ul.nav{
		margin: 15px 0;
		>li {
			float: left;
			a { color: white; }
		}
		a:hover, a:focus {
			text-decoration: none;
			background-color: #000;
		}
	}
	.pane-ideal-main-openideal-credits {
		float: right;
		color: #fff;
		padding: 25px 0;
		a {
			font-weight: bold;
			color: $blue;
		}
	}
}



