
/*-----------------------------------------------
                     Elements
-----------------------------------------------*/

a {
  text-decoration: none;
  &:hover { text-decoration: none; }
}

iframe { 
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

/*-----------------------------------------------
                   Font -icons
-----------------------------------------------*/

.glyphicon:before {
  margin: 0px 5px;
  position: relative;
  top: 2px;
} 

.glyphicon-comment {
  @include mixin-font-icon('\e608');
}

.glyphicon-read {
  @include mixin-font-icon('\e601',18px);
}

.glyphicon-th-list { 
  @include mixin-font-icon('\e604');
}

.glyphicon-calendar { 
  @include mixin-font-icon('\e607',16px); 
}

.glyphicon-map-marker {
  @include mixin-font-icon('\e60c',24px);
  &:before { top: 5px; line-height: 0; }
}

.caption { @include mixin-image-label; }

.mouseover { @include mixin-image-label; }


.page-header {
  line-height: 1;
  border: 0;
  margin: -5px 0px 20px 0;
}

.pagination { 
  margin-top: 45px; 
}

/*-----------------------------------------------
      General: row.block-footer-openideal
-----------------------------------------------*/

.row-bottom-openideal {
  min-height: 45px;
  clear: both;
  position: relative;
  z-index: 2;
  background-color: black;
  display: table;
  width: 107%;
  margin-left: -18px;
  padding: 0px 15px;
  padding-bottom: 3px;
  font-size: 13px;
  color: white;

  > div { display: table-cell;  vertical-align: middle; }
  a { color: white; }
  .author {
    .picture img { 
      width: 36px;
      height: 37px;
      margin: 5px 7px 0 7px;
      float: left;
    }
    .name {
      color: $blue;
      font-weight: bold;
      margin-top: 7px;
       a { color: $blue; }
    }
  }
  .moderator { margin-top: 12px; }
  .dates{ 
    margin-top: 12px; font-size: 0; 
    span { font-size: 13px; }
    span + span:before { content: '-'; margin: 0 4px; }
  }
  .vote { display: none; }
}


