.page-user-login, .page-user-password, .page-user-register {
  padding-top: 0 !important;
  .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content-block {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }
  .title {
    font-size: 31px;
    text-align: center;
  }
  .inner {
    width: 478px;
    padding: 2em 0px;
    margin: 0 auto;
    padding: 1.8em 0px;
    background-color: #EFF3F6;
    border-radius: 4px;
    .form-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 81%;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 3px;
      label {
        font-size: 18px;
        font-weight: 200;
        color: #969A9E;
        display: block;
      }
      .form-text {
        width: 51%;
        padding-right: 11px;
        line-height: 37px;
        padding-bottom: -3px;
        border: 1px solid #DBDCDC;
        border-radius: 4px;
        font-size: 14px;
      }
    }
    #user-login > div .form-actions {
      width: 100%;
    }
    .form-actions {
      text-align: center;
      margin-bottom: 22px;
      margin-top: 1em;
      .form-submit {
        background-color: #26B30F;
        border: none;
        width: 81%;
        padding: 8px 0px;
        border-radius: 5px;
        color: white;
        font-size: 24px;
        border-radius: 6px;
      }
    }
    .more-options {
      display: flex;
      justify-content: space-between;
      width: 81%;
      margin: auto;
      font-size: 18px;
    }
    .hybridauth-widget {
      a {
        background-color: #2553B3;
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 6px;
        border-radius: 6px;
        color: white;
        font-size: 1.17em;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.17em;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
        span {
          margin: 0 0.8em;
        }
      }
    }
    #user-login > div .hybridauth-widget-wrapper {
      order: -1;
      width: 100%;
    }
  }
  .pane-sheatufim-logo {
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .logo-content {
      text-align: center;
      padding-top: 20px;
    }
  }
  .hybridauth-widget-wrapper {
    ul.hybridauth-widget {
      li {
        display: block;
      }
    }
    h3 {
      display: none;
    }
  }
}
.not-logged-in.page-toboggan-denied {
  .content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .content-block {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
  }
  .title {
    font-size: 31px;
    text-align: center;
  }
  .inner {
    width: 478px;
    padding: 2em 0px;
    margin: 0 auto;
    padding: 1.8em 0px;
    background-color: #EFF3F6;
    border-radius: 4px;
    .form-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 81%;
      margin: auto;
      margin-top: 24px;
      margin-bottom: 3px;
      label {
        font-size: 18px;
        font-weight: 200;
        color: #969A9E;
        display: block;
      }
      .form-text {
        width: 51%;
        padding-right: 11px;
        line-height: 37px;
        padding-bottom: -3px;
        border: 1px solid #DBDCDC;
        border-radius: 4px;
        font-size: 14px;
      }
    }
    #user-login > div .form-actions {
      width: 100%;
    }
    .form-actions {
      text-align: center;
      margin-bottom: 22px;
      margin-top: 1em;
      .form-submit {
        background-color: #26B30F;
        border: none;
        width: 81%;
        padding: 8px 0px;
        border-radius: 5px;
        color: white;
        font-size: 24px;
        border-radius: 6px;
      }
    }
    .more-options {
      display: flex;
      justify-content: space-between;
      width: 81%;
      margin: auto;
      font-size: 18px;
      .to-renew {
        a {
          color: #FB865A;
        }
      }
      .to-register {
        a {
          color: #52BC47;
        }
      }
    }
    .hybridauth-widget {
      a {
        background-color: #2553B3;
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 6px;
        border-radius: 6px;
        color: white;
        font-size: 1.17em;
        font-weight: bold;
        text-decoration: none;
        line-height: 1.17em;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
        span {
          margin: 0 0.8em;
        }
      }
    }
    #user-login > div .hybridauth-widget-wrapper {
      order: -1;
      width: 100%;
    }
  }
  .pane-sheatufim-logo {
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .logo-content {
      text-align: center;
      padding-top: 20px;
    }
  }

}.hybridauth-widget-wrapper {
   ul.hybridauth-widget {
     li {
       display: block;
     }
   }
   h3 {
     display: none;
   }
 }