
/*-----------------------------------------------
             Grid & Layout settings
-----------------------------------------------*/

$column-left: 63%;
$sidebar-right: 37%;
 
/*-----------------------------------------------
                   Typography
-----------------------------------------------*/

@font-face {
	font-family: 'OpenIdeal';
	src:url('../fonts/OpenIdeal/OpenIdeal.eot');
	src:url('../fonts/OpenIdeal/OpenIdeal.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenIdeal/OpenIdeal.woff') format('woff'),
		url('../fonts/OpenIdeal/OpenIdeal.ttf') format('truetype'),
		url('../fonts/OpenIdeal/OpenIdeal.svg#OpenIdeal') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*-----------------------------------------------
                   Colors
-----------------------------------------------*/

$light-border: rgb(213, 213, 213);
$light-gray: #f3f3f3;

$text-gray: #413f43;
$text-white: rgb(213, 213, 213);

$green: #43ac6a;
$navy-blue: #016ca2;
$red: #d70010;
$blue: #028cbb;
$black: black;

/*-----------------------------------------------
                       END
-----------------------------------------------*/
